.reviewContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    /* border: 1px solid #d0d0d0; */
    margin: 3px;
    padding: 10px;
    }

.info-review{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
}

    .review-user{
        display: flex;
        flex-direction: row;
        background-image: gray;
        width: 100%;

    }

    .reviewUser{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    .ratingReview{
        display: flex;
        flex-direction: row;
        width: 100%;
       
    }

    .ratingProduct{
        display: flex;
        flex-direction: row;
        font-family: 'Poppins', sans-serif;
        font-weight: 500; 
        margin-bottom: 5px;
    }

    
       .reviewTextUser{
           font-family: 'Poppins', sans-serif;           
           font-weight: normal;
           color: black;
           font-size: 18px;
       }
    
       .reviewText2{
           font-family: 'Poppins', sans-serif;           
           font-weight: normal;
           color: gray;
           font-size: 18px;
       }
    
 
