.detail 
{
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid #d0d0d0;
  margin: 40px auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.first, .second 
{
  display: flex;
  flex-direction: column;
  position: relative;
}

.first h1, .first h3 
{
  text-align: left;
  font-family: 'Cantarell', sans-serif;
}

.first h1 
{
  margin: 0px 0px 0px 25px;
}

.first h3 
{
  font-weight: normal;
  color: #9f9f9f;
  margin: 10px 0px 0px 25px;
}

.first p 
{
  margin: 5px 0px 0px 25px;
  width: 60%;
  color: #7f7f7f;
  text-align: left;
}

.first img
{
  width: 80%;
  margin: 0 5%;
}

.second p
{
  text-align: left;
}

.cartBtns 
{
  position: absolute;
  top: 110px;
  right: 20px;
  width: 150px;
}

.lbl 
{
  display: block;
  background-color: orange;
  color: white;
  width: 150px;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
}

.btns 
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.quantity 
{
  display: block;
  width: 40px;
  border: 1px solid #d0d0d0;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
}

.add, .remove 
{
  display: block;
  width: 50px;
  background-color: orange;
  color: white;
  font-size: 24px;
  height: 36px;
  line-height: 36px;
}

.price 
{
  width: 150px;
  position: absolute;
  top: 30px;
  right: 20px;
  border-bottom: 1px solid orange;
}

.price span 
{
  font-size: 40px;
  color: #7f7f7f;
}
