.detail 
{
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid #d0d0d0;
  margin: 40px auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.first, .second 
{
  display: flex;
  flex-direction: column;
  position: relative;
}

.first h1, .first h3 
{
  text-align: left;
  font-family: 'Cantarell', sans-serif;
}

.first h1 
{
  margin: 0px 0px 0px 25px;
  color: #2f2f2f;
}

.first h3 
{
  font-size: 22px;
  font-weight: normal;
  color: #9f9f9f;
  margin: 10px 0px 0px 25px;
}

.first b 
{
  color: lightskyblue;
  font-size: 20px;
  display: inline-block;
  padding: 0px 20px;
}

.first p 
{
  margin: 5px 0px 0px 25px;
  width: 60%;
  color: #7f7f7f;
  text-align: left;
}

.first img
{
  width: 80%;
  margin: 0 10%;
}

.second p
{
  text-align: left;
}

.cartBtns 
{
  position: absolute;
  top: 110px;
  right: 20px;
  width: 150px;
}

.lbl 
{
  display: block;
  background-color: #19b9ac;
  color: white;
  width: 150px;
  font-size: 20px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.btns 
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.quantity 
{
  display: block;
  width: 40px;
  border: 1px solid #d0d0d0;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.add, .remove 
{
  display: block;
  width: 50px;
  background-color: #19b9ac;
  color: white;
  font-size: 24px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.price 
{
  width: 150px;
  position: absolute;
  top: 30px;
  right: 20px;
  border-bottom: 1px solid #19b9ac;
}

.price span 
{
  font-size: 40px;
  color: #7f7f7f;
}

.rating 
{ 
  color: orange;
  position: absolute;
  top: 200px;
  right: 20px;
  width: 150px;
  font-size: 24px;
}

.rating span *
{
  display: inline-block;
  margin: 0px 3px;
}

.second 
{
  font-family: 'Cantarell', sans-serif;
}

.second p
{
  margin: 0px 20px;
}

.second p:first-of-type 
{
  font-size: 20px;
  color: #3f3f3f;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: 1px solid #d0d0d0;
}


.second p:last-of-type 
{
  margin-bottom: 40px;
  font-style: italic;
  color: #2f2f2f;
  font-size: 18px;
}

.imgNav 
{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  top: 50%;
  width: 100%;
}

.angle 
{
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-size: 48px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
  text-align: center;
}

.pager 
{
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
  position: relative;
  top: 90%;
}

.circle 
{
  display: block;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid orange;
  border-radius: 50%;
}

.circle:first-of-type 
{
  background-color: orange;
}
