.fullview 
{
  display: flex;
  flex-direction: column;
  position:relative;
}

.detail 
{
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid #d0d0d0;
  margin: 40px auto;
  border-radius: 10px;
  position: relative;
  left: 0px;
  overflow: hidden;
}

.first
{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
}

.second 
{
  display: flex;
  flex-direction: column;
  position: relative;
}

.first h1, .first h3 
{
  text-align: left;
  font-family: 'Cantarell', sans-serif;
}

.first h1 
{
  margin: 0px 0px 0px 25px;
  color: #2f2f2f;
}

.first h3 
{
  font-size: 22px;
  font-weight: normal;
  color: #9f9f9f;
  margin: 10px 0px 0px 25px;
}

.first b 
{
  color: lightskyblue;
  font-size: 20px;
  display: inline-block;
  padding: 0px 20px;
}

.first p 
{
  margin: 5px 10px 0px 25px;
  color: #7f7f7f;
  text-align: left;
}

.first img
{
  width: 80%;
  margin: 0 10%;
}

.second p
{
  text-align: left;
}

/* .topDescription 
{
  border: 1px solid blue;
}

.imageSlider
{
  border: 1px solid red;
}

.leftView 
{
  border: 1px solid green;
} */

.rightView
{
  /*border: 1px solid violet;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px 0px 20px;
}

.price 
{
  width: 150px;
  border-bottom: 1px solid orange;
  text-align: center;
  margin: 10px auto;
}

.price span 
{
  font-size: 40px;
  color: #7f7f7f;
}

.second 
{
  font-family: 'Cantarell', sans-serif;
}

.second p
{
  margin: 0px 20px;
}

.second p:first-of-type 
{
  font-size: 20px;
  color: #3f3f3f;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: 1px solid #d0d0d0;
}


.second p:last-of-type 
{
  margin-bottom: 40px;
  font-style: italic;
  color: #2f2f2f;
  font-size: 18px;
}

@media (max-width: 858px)
{
  .first
  {
    flex-direction: column;
  }

  .rightView 
  {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
  }
}
