.fullview 
{
  display: flex;
  flex-direction: column;
  position:relative;
}

.detail 
{
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid #d0d0d0;
  margin: 40px auto;
  border-radius: 10px;
  position: relative;
  left: 0px;
  overflow: hidden;
}

.first
{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  background-color: white;
}

.second 
{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}

.first h1, .first h3 
{
  text-align: left;
  font-family: 'Cantarell', sans-serif;
}

.first h1 
{
  margin: 0px 0px 0px 25px;
  color: #2f2f2f;
}

.first h3 
{
  font-size: 22px;
  font-weight: normal;
  color: #9f9f9f;
  margin: 10px 0px 0px 25px;
}

.first b 
{
  color:  #0070ba;
  font-size: 20px;
  display: inline-block;
  padding: 0px 20px;
}

.first p 
{
  margin: 5px 10px 0px 25px;
  color: #7f7f7f;
  text-align: left;
}

.first img
{
  width: 80%;
  margin: 0 10%;
}

.second p
{
  text-align: left;
}

/* .topDescription .wishListTrue{
  color: none
}
 .topDescription .wishListFalse
{
  color: #6b6969ed;
} */
/*
.imageSlider
{
  border: 1px solid red;
}

.leftView 
{
  border: 1px solid green;
} */

.rightView
{
  /*border: 1px solid violet;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px 0px 20px;
}

.stock_title{
    position: absolute;
    bottom: 0;
    right: 53px;
    font-size: 13px;
}

.price 
{
  width: 150px;
  border-bottom: 1px solid orange;
  text-align: center;
  margin: 10px auto;
}
.questionsInDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 20px 40px 0px 20px; */
}
.modalReviewForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 75vh;
  height: 50vh; 
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 10px;
}
.modalQuestionForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 70vh;
  height: 50vh; 
  background-color: rgba(255, 166, 0, 0.377);
  border-radius: 10px;
}
.modalQuestionForm form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 70vh;
  height: 50vh;
  border-radius: 10px;
}
.modalQuestionForm textarea{
  width: 100%;
  height: 100%;
  border: solid 1px #d0d0d0;
  border-radius: 10px;
  background-color: transparent;
  font-size: 20px;
  font-family: 'Cantarell', sans-serif; 
  resize: none; 
}

.questionFormButtonOpen{
  text-align: center;
  padding: 7px;
  cursor: pointer;
  align-self: flex-start;
  margin-left: 10vw;
  background-color: #f2ab15;
  color: #0f0f0f;
  font-size: 13px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 4px;
}
.price span 
{
  font-size: 40px;
  color: #7f7f7f;
}

.second 
{
  font-family: 'Cantarell', sans-serif;
}

.second p
{
  margin: 0px 20px;
}

.second p:first-of-type 
{
  font-size: 20px;
  color: #3f3f3f;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: 1px solid #d0d0d0;
}


.second p:last-of-type 
{
  margin-bottom: 40px;
  font-style: italic;
  color: #2f2f2f;
  font-size: 18px;
}

@media (max-width: 858px)
{
  .first
  {
    flex-direction: column;
  }

  .rightView 
  {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
  }
}

@media (max-width: 600px)
{
  .detail 
  {
    margin: 20px auto;
    width: 90%;
  }
}
