.containerWishList {
    display: flex;
    flex-direction: column;
}

.tittleWish {
    display: flex;
    align-items: center;
    padding-top: 0.7%;
    margin-left: 12.4%;
    font-weight: 600;
    font-size: 24px;  
}

.wishesContainer 
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 1% auto;
    max-width: 75%;
    border-radius: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    height: 60vh;
    border: 1px solid;
    border-color: rgb(216, 212, 212);
      
}

.wishes
{
    display: flex;
    flex-direction: column;
}

.totalWishes 
{
    display: flex;
    font-size: 160%;
    justify-content: end;
    padding-right: 4%;
    border: 1px solid;
    border-style: inset;
    border-color: rgb(236, 228, 228);
}
