.containerWishList {
    display: flex;
    flex-direction: column;
    margin: 0.5% auto 7%; 
}

.tittleWish {
    display: flex;
    align-items: center;
    padding-top: 0.7%;
    margin-left: 12.4%;
    font-weight: 600;
    font-size: 24px;  
}

.wishesContainer 
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 1% auto;
    max-width: 75%;
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    border-radius: 2px;
    border-color: rgb(216, 212, 212);    
}

.wishes
{
    display: flex;
    flex-direction: column;
}

.totalWishes 
{
    display: flex;
    font-size: 160%;
    justify-content: end;
    padding-right: 4%;
    border-right: none;
    border-left: none;
    border-color: transparent;
}
