.containerList {
    width: 100%;
}

.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin:20px
}

.button_pagination{
    display: flex;
    justify-content: center
}

.button_pagination button{
    border: 0px;
    padding: 10px 11px;
    width: 100px;
    margin: 0px 6px 0px 6px;
    background-color:#24262b;
    color: white;
    cursor: pointer;
    border-radius: 9px;
    font-size: 16px;
}

.pagination{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.button_pagination :hover{
    cursor: pointer;
    background-color: rgba(255, 136, 0, 0.877);
    box-shadow: 5px 5px 3px 0px gray;
    color: black;
}




