.containerList {
    width: 100%;
}

.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin:20px
}

.button_pagination{
    display: flex;
    justify-content: center
}

.button_pagination button{
    display: flex;
    border: 0px;
    padding: 10px 0px 10px 0px;
    width: 100px;
    margin: 0 0px 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(39, 167, 154);
    background: none;
}


.formPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: auto;
    margin: 0.5vh;
}
.formPrice :hover button {
    cursor: pointer;
}
.formPrice button {
    width: 15vh;
    border-radius: 15px;
}
