.containerList {
    width: 90vw;
}

.productList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    gap:0.4rem
    /* display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 20px;
    margin:20px */
}

@media (max-width:830px) {
    .productList{
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}

.button_pagination{
    display: flex;
    justify-content: center
}

.button_pagination button{
    display: flex;
    border: 0px;
    padding: 10px 0px 10px 0px;
    width: 100px;
    margin: 0 0px 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(39, 167, 154);
    background: none;
}

.arrowPage:hover{
    color: rgba(16, 107, 98, 0.685);
    text-decoration: underline;
}
.button_pagination .pagination{
    display: flex;
    margin: 6px 7px 0 0;
}


.formPrice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    width: auto;
    margin: 0.5vh;
}

.formPrice :hover button {
    cursor: pointer;
}

.formPrice div{
    background-color: rgba(92, 77, 49, 0.082);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formPrice button {
    width: 15vh;
    border-radius: 15px;
    background-color: rgba(121, 100, 87, 0.199);
    color: rgb(39, 167, 154);
    margin-top: 5px;
}

.formPrice button:hover {
    width: 15vh;
    border-radius: 15px;
    background-color: rgba(168, 73, 14, 0.363);
    color: rgba(16, 107, 98, 0.685);
}

.filterPrice form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.labels {
    margin:5px;
}