.containerList {
    width: 100%;
    height: 800px;
}

.productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    max-width: 70rem;
    margin: 0 auto;
    padding:15px 0 44px 0px;
}