.topMenuBar 
{
  background-color: white;
  height: 36px;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.mainCategories 
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #8f8f8f;
  height: 36px;
  z-index: 22;
}

.topCat 
{
  margin: 0px;
  padding: 0px 10px;
  cursor: pointer;
  height: 36px;
  font-size: 0.9em;
  line-height: 36px;
  border-bottom: 4px solid transparent;
  transition: all 400ms;
}

.topCat:hover
{
  border-bottom: 4px solid orange;
  color: #6f6f6f;
}

.subCategories 
{
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 21;
  color: #7f7f7f;
  position: absolute;
  top: 36px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.subCategories ul li
{
  text-align: center;
  padding: 10px;
}

.subVisible
{
  display: flex;
}

.subHidden 
{
  display: none;
}

@media (max-width: 858px)
{
  .topMenu {
    display: none;
  }
}
