.pos{
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    font-size: 110%;
}
.prev {
  transition:all 0.35s cubic-bezier(0.37, 0.26, 0.35, 1);
  padding:15px;
  background:transparent;
  font-weight:700;
  cursor:pointer;
}

.prev{
  color:rgb(141, 137, 137);
}

.next {
  transition:all 0.35s cubic-bezier(0.37, 0.26, 0.35, 1);
  padding:1px;
  background:transparent;
  font-weight:700;
  cursor:pointer;
}

.next{
  color:rgb(141, 137, 137);
}