.table {
  width: 100%;
  padding-left: 81px;
  padding-right: 1px;
  padding-top: 60px;
}

.create {
  padding: 4px 0 0 0;
  margin: 0 0 0 0;
  height: 39px;
  width: 80px;
  margin-right: 20px;
  background-color: #FF9F1C;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.add-button:hover {
  background-color: #ffa01c91;
  transition: 0.3s;
}

.add-button-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-left: 12px;
  float: right;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin: 0 0 0 0;
  padding: 0 7px 0 2px;
}

.reactModalOverlay {
  background-color: #ddddddb4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1000ms ease-in-out;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 101;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.reactModalContent {
  background-color: #f6f6f6;
  border-radius: 4.3em;
  box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
  width: calc(100% - 0.625em);
  max-width: 38.75em;
  border-radius: 1.25em;
  margin: 1.87em auto;
  overflow: auto;
  z-index: 102; 
}

.reactModalContent::-webkit-scrollbar {
  display: none;
}
