.item-container{
	display: flex;
    flex-direction: row;
    width:100%;
    height: 200px;
    align-items: center;
    overflow: hidden;
    border: thin solid #dcdcdc;
    justify-content: space-evenly;
    /* padding: 0 15px 0 15px; */
    border-radius: 10px;
    background-color: #fafafa;
    justify-content: space-evenly;
}

.item-container:hover{
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.itemCartImg {
	width: 200px;
	height: 100px;
}

.info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 245px;
}

.itemName{
    color: black;
    margin-bottom: 20px;
};

.actions-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95px;
    gap: 20px;
}

.button-items-delete{
    background: transparent;
    font-size: 26px;
    cursor: pointer;
}

.button-items-delete h6{
    background: transparent;
    font-size: 10px;
}

.button-items-delete:hover{
    transform: scale(1.01);
    color:#CA2A11;
}

@media (max-width: 858px){
    .item-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: 300px;
        width: 80%;
    }
    .actions-items{
        display: flex;
        flex-direction: row;
        gap: 51px;
    }
}
