.historyContainer{
    display: flex;
    position: relative;
    align-content: center;
    flex-direction: column;
    color: rgb(18, 18, 20);
    min-height: 100vh;
    font-size: 10px;
}
.historyFooter{
    flex: 0 0 auto;
    position: absolute;
}

.soyH1{
    cursor: pointer;
    width: max-content;
    height: max-content;
}

.containerUserProfile{
    height: 170vh;
    
}



.userProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100vh;    
    border-radius: 5px;
    margin-bottom: 50px;
}

.userImageContainer{

    display: flex;
    padding: 20px;
    flex-direction: row;
    width: 30%;
    height: 20%;
    align-self: center;
    justify-content: center;
   
}

.image{
    border-radius: 100%;
}



.userName{
    width: 50%;
    font-size: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.userBtnTopRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 14%;
    background-color: hsla(0, 6%, 75%, 0.521);
    border-radius: 10px;
    cursor: pointer;
}

.userBtnTopRight:hover{
    background-color: hsla(0, 6%, 75%, 0.7);
}

.userData{
    margin: 10px;
    cursor: pointer;
    
}

.userData:hover{
    border-bottom: 3px solid #ff9f1c;
    
}

.imgCard{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit:contain;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 858px){   
    .userName{
        width: 90%;
        margin-bottom: 30px;
    }
    
}







