.historyContainer{
    display: flex;
    position: relative;
    align-content: center;
    flex-direction: column;
    color: rgb(18, 18, 20);
    min-height: 100vh;
    font-size: 10px;
}
.historyFooter{
    flex: 0 0 auto;
    position: absolute;
}

.soyH1{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 5.7%;
    height: max-content;
    border:2px solid rgb(146, 139, 139);
    color: rgb(59, 53, 53);
    font-size: 20px;
    margin-top: 0.1%;
    margin-left: 0.3%;
    font-size: 150%;
}

.containerUserProfile{
    height: 170vh;
    
}



.userProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100vh;    
    border-radius: 5px;
    margin-bottom: 50px;
}

.userImageContainer{

    display: flex;
    padding: 20px;
    flex-direction: row;
    width: 30%;
    height: 20%;
    align-self: center;
    justify-content: center;
   
}

.image{
    border-radius: 100%;
}



.userName{
    width: 50%;
    font-size: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.userNameOrder{
    cursor: pointer;
    width: 6%;
    font-size: 30px;
}


.userData{
    margin: 10px;
    cursor: pointer;
    
}

.userData:hover{
    border-bottom: 3px solid #ff9f1c;
    
}

.imgCard{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit:contain;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 858px){   
    .userName{
        width: 90%;
        margin-bottom: 30px;
    }
    
}







