.historyContainer{
    display: flex;
    position: relative;
    align-content: center;
    flex-direction: column;
    color: rgb(18, 18, 20);
    font-size: 10px;
}
.historyFooter{
    flex: 0 0 auto;
    position: absolute;

}

.favContainer{
    background-color: #dddddd23;
    display: flex;
    position: relative;
    align-content: center;
    flex-direction: column;
    color: rgb(18, 18, 20);
    font-size: 10px;
    min-height: 100vh;
}

.soyH1{
    cursor: pointer;
    width: 10vw;
    height: max-content;
    padding: 5px;
    background-color: #ffaa33;
    color: black;
    font-weight: normal;
    text-align: center;
    border-radius: 4px;
    margin-top: 1%;
    margin-left: 0.6%;
    font-size: 18px;
}

.soyH1:hover{
    background-color: #fac78d;
    transition: .5s;
}

@media screen and (max-width: 600px){
    .soyH1{
        width: 30vw;
       
    }
}
    


.containerUserProfile{
    min-height: 20vh;
    background-color: #f5f5f5; ;
}



.userProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%; 
    border-radius: 5px;
    margin-bottom: 15%;
}

.userImageContainer{

    display: flex;
    padding: 20px;
    flex-direction: row;
    width: 30%;
    height: 20%;
    align-self: center;
    justify-content: center;

}

.image{
    border-radius: 100%;
}



.userName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
}





.userData{
    margin: 10px;
    cursor: pointer;

}

.userData:hover{
    border-bottom: 3px solid #ff9f1c;

}

.imgCard{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit:contain;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.userNameOrder{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    cursor: pointer;
    width: 40%;
    height: 100%;
    margin-top: 20px;

}

@media screen and (max-width: 800px){
    .userName{
    width: 100%;
    }
}

.userBtnTopRight{
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 10%;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #f5f5f5;
    color: #1f1f1f;
    border-radius: 4px;

}

.userBtnTopRight:hover{
    cursor: pointer;
    background-color: #ddd9d9;
}

.btnOrders{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      width: 45%;
      height:7vh;
      background-color:  #fdaa48;
      color: #0f0f0f;
      font-size: 1.2em;
      font-weight: normal;
      font-family: 'Poppins', sans-serif;
      border-radius: 4px;
      overflow: hidden;
    }


.btnWish{
    color: #413e3e;
    border-radius: 4px;
}

.btnWish:hover{
    cursor: pointer;
    color: #1f1f1f;
}

.btnOrders:hover{
    background-color: #fac78d;
    transition: .5s;
}

.reactModalContentUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40vw;
    height: 70vh;
    background-color: #f5f5f5e3;
    border-radius: 5px;
    overflow: hidden;
}

@media screen and (max-width: 800px){
    .reactModalContentUser{
        width: 80vw;
        }
}
    







