.historyContainer{
    display: flex;
    position: relative;
    align-content: center;
    flex-direction: column;
    color: rgb(18, 18, 20);
    min-height: 100vh;
    font-size: 10px;
}
.historyFooter{
    flex: 0 0 auto;
    position: absolute;
}

.favContainer{
    background-color: #dddddd23;
    display: flex;
    position: relative;
    align-content: center;
    flex-direction: column;
    color: rgb(18, 18, 20);
    font-size: 10px;
    height: 80vh
}

.soyH1{
    cursor: pointer;
    width: 10vw;
    height: max-content;
    padding: 5px;
    background-color: #ffaa33;
    color: black;
    font-weight: normal;
    text-align: center;
    border-radius: 4px;
    margin-top: 1%;
    margin-left: 0.6%;
    font-size: 15px;
}

.soyH1:hover{
    background-color: #fac78d;
    transition: .5s;
}
.containerUserProfile{
    height: 170vh;
    
}



.userProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100vh;    
    border-radius: 5px;
    margin-bottom: 50px;
}

.userImageContainer{

    display: flex;
    padding: 20px;
    flex-direction: row;
    width: 30%;
    height: 20%;
    align-self: center;
    justify-content: center;
   
}

.image{
    border-radius: 100%;
}



.userName{
    width: 50%;
    font-size: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.userNameOrder{
    cursor: pointer;
    width: 6%;
    font-size: 30px;
}


.userData{
    margin: 10px;
    cursor: pointer;
    
}

.userData:hover{
    border-bottom: 3px solid #ff9f1c;
    
}

.imgCard{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit:contain;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.userNameOrder{
        width: 30%;
    font-size: 30px;
   
}

.userBtnTopRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 10%;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #0070ba;
    color: #1f1f1f;
    border-radius: 4px;

}

.btnOrders{
   background-color: #0070ba;
   color: #1f1f1f;
   border-radius: 4px;
}

.btnWish{
    color: #413e3e;
    border-radius: 4px;
}

.btnWish:hover{
    cursor: pointer;
    color: #1f1f1f;
}

.btnOrders:hover{
    background-color: #0465a5;
    cursor: pointer;
}
.userBtnTopRight:hover{
    cursor: pointer;
    background-color: #0465a5;
}

@media (max-width: 858px){   
    .userName{
        width: 80%;
        margin-bottom: 20px;
    }
    
}







