.leftCol
{
  width: 50px;
  min-height: 100%;
  position: relative;
}

.sidebar 
{
  display: flex;
  flex-direction: row;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  background-color: rgba(255, 2550, 255, 0.9);
  transition: all 500ms;
  z-index: 99;
}

.categories 
{
  width: 300px;
}

.categories ul, .submenu ul
{
  width: 250px;
  margin: 100px 0 0 48px;
}

.submenu ul 
{
  width: 350px;
}

.categories li, .submenu li
{
  color: #787878;
  font-size: 24px;
  font-family: 'ubuntu', 'cantarell', sans-serif;
  padding: 5px 30px;
  cursor: pointer;
  transition: all 400ms;
}

.categories li span, .submenu li span 
{
  display: inline-block;
  border-bottom: 4px solid transparent;
  padding: 10px;
  transition: all 500ms;
}

.categories ul li span:hover,
.submenu ul li span:hover
{
  border-bottom: 4px solid orange;
}

.active 
{
  color: #666;
  font-weight: bold;
}

.openclose 
{
  text-align: right;
  width: 60px;
}

.menuopen, .menuclose 
{
  display: block;
  width: 32px;
  height: 32px;
  margin: 14px;
  font-size: 32px;
  color: #afafaf;
  line-height: 32px;
  cursor: pointer;
  transition: all 500ms;
}

.none 
{
  display: none;
}

.block 
{
  display: block;
}

.hidden 
{
  left: -300px;
}

.visible 
{
  left: 0;
}

.submenu 
{
  display: block;
  width: 400px;
  min-height: 100%;
  border-left: 1px solid transparent;
}

.submenu div
{
  overflow: hidden;
  transition: all 2000ms;
}

.fat 
{
  max-width: 100vw;
  transition: all 2000ms;
  border-left: 1px solid #d0d0d0;
}

.thin 
{ 
  max-width: 0vw;
  transition: all 1000ms;
  border-left: 1px solid transparent;
}


@media (max-width: 858px){
  .leftCol {
    display: none;
  }
}
