.suggestions{
    display: block;
    position: absolute;
    top: 37px;
    width: 100%;
    border: 1px solid #aaaaaa75;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    cursor: pointer;
    transition: .5s;
}

.suggestions li:hover{
    background-color: gray;
}

.no-suggestions{
    display: block;
    position: absolute;
    top: 37px;
    width: 100%;
    border: 1px solid #aaaaaa75;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

@media (max-width: 858px){
    .suggestions{
        font-size: 13px;
    }
}