
.dataHistory
{
    color: rgb(117, 113, 136);
    justify-content: center;
    align-content: center;
    margin-top: 1%;
    width: 100%;
}

.orderDate{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-right: 3%;
    color: #0f0f0f;
}

.orderTotalPrice{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-right: 3%;
    color: #0f0f0f;
}

.orderStatus{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    margin-right: 3%;
    color: #0f0f0f;
}

.statusOrder{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    margin-right: 3%;
    color: #0070ba;
}



.containerHistory
{
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

.cardsContainer 
{
    color: rgb(46, 44, 54);
    width: 80%;
    margin:auto;
    font-size: 13px;
}

.cardsContainer:hover{
   size: 90%;
    
}


.infoContainer
{
    display: flex;
    flex-direction: column;  
}

.paginadoOrder
{
    color: #0f0f0f;
    font-size: 20px; 
}

.ordersEmpty
{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #808080;
    margin-top: 8%;
}

.ordersEmpty h4
{
    font-size: 60px;
}
.ordersEmpty h3
{
    font-size: 30px;
}
.ordersEmpty .icon_ordersEmpty
{
    font-size: 145px;
}

