.containerformProducts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* .backgroundCreateProducts {
  flex-direction: row;
  padding-top: 30px;
  background-color: #ff9f1c;
} */

.formCreateProducts {
  /* background-color: #f6f6f6;
  width: calc(100% - 10px);
  max-width: 750px;
  border-radius: 30px; 
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
  text-align: center;
  /* margin-bottom: 20px; */
  padding: 1em;
  position: relative;
}

.labelCreateProducts {
  margin: 0.7em auto 0.5em auto;
  font-weight: 400;
  font-size: 1.2em;
}

.inputCreateProducts {
  margin: 0em auto;
  padding: 0.3em;
  border-radius: 0.5em;
  width: calc(100vw - 2.5em);
  padding: 0.7em 1.7em;
  background: #e6e6e6;
  color: #696969;
  border: none;
  outline: none;
  font-size: 1rem;
  max-width: 31.25rem;
  max-height: 4.5em;
}

.inputCreateProducts:focus {
  border: 0.0625em solid #646464;
  border-radius: 0.5em;
  font-size: 1rem;
  margin: 0em auto;
  padding: 0.6em;
}

.errorText{
  font-size: 0.9em;
  color: red;
}

.btnCreate {
  cursor: pointer;
  color: #eee;
  background: #2EC4B6;
  border: none;
  margin: 1.25em auto;
  max-width: 15.6em;
  font-size: 1.25em;
  padding: 0.4em 0.55em;
  font-weight: 600;
}

.btnCloseFormProducts{
  size: 0.9em;
  cursor: pointer;
  position: absolute;
  width: 0.3em;
  top: 0.75em;
  right: 0.75em;
  color: #eee;
  background-color: rgb(230, 32, 32);
  border-radius: 0.5em;
}

.greyBtnCreate{
  cursor: pointer;
  color: #eee;
  background: #4b4b4b;
  border: none;
  margin: 1.25em auto;
  max-width: 15.6em;
  font-size: 1.25em;
  padding: 0.4em 0.55em;
  font-weight: 600;
}