.containerformProducts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* .backgroundCreateProducts {
  flex-direction: row;
  padding-top: 30px;
  background-color: #ff9f1c;
} */

.formCreateProducts {
  /* background-color: #f6f6f6;
  width: calc(100% - 10px);
  max-width: 750px;
  border-radius: 30px; 
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
  text-align: center;
  /* margin-bottom: 20px; */
  padding: 10px;
  position: relative;
}

.labelCreateProducts {
  margin: 12px auto 8px auto;
  font-weight: 400;
  font-size: 18px;
}

.inputCreateProducts {
  margin: 0px auto;
  padding: 2px;
  border-radius: 9px;
  width: calc(100vw - 30px);
  padding: 10px 24px;
  background: #e6e6e6;
  color: #696969;
  border: none;
  outline: none;
  font-size: 0.9em;
  max-width: 500px;
  font-size: 17px;
}

.inputCreate:focus {
  border: 1px solid #313131;
  border-radius: 9px;
}

.errorText{
  font-size: 15px;
  color: red;
}

.btnCreate {
  cursor: pointer;
  color: #eee;
  background: #2EC4B6;
  border: none;
  margin: 20px auto;
  max-width: 250px;
  font-size: 20px;
  padding: 8px 10px;
  font-weight: 600;
}

.btnCloseFormProducts{
  size: 15px;
  cursor: pointer;
  position: absolute;
  width: 5px;
  top: 12px;
  right: 12px;
  color: #eee;
  background-color: rgb(230, 32, 32);
  border-radius: 5px;
}