.containerformProducts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.backgroundCreateProducts {
  flex-direction: row;
  padding-top: 30px;
  background-color: #ff9f1c;
}

.formCreateProducts {
  background-color: #f6f6f6;
  font-size: 20px;
  width: calc(100% - 10px);
  max-width: 750px;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.labelCreateProducts {
  margin: 10px;
  font-weight: 500;
}

.inputCreateProducts {
  margin: 8px auto 0px auto;
  padding: 2px;
  border-radius: 9px;
  width: calc(100vw - 30px);
  padding: 10px 24px;
  background: #e6e6e6;
  color: #696969;
  border: none;
  outline: none;
  font-size: 0.9em;
  max-width: 500px;
}

.inputCreate:focus {
  border: 1px solid #313131;
  border-radius: 9px;
}

.errorText{
  font-size: 15px;
  color: red;
}

.btnCreate {
  cursor: pointer;
  color: white;
  background: #2EC4B6;
  border: none;
  margin: 20px auto;
  max-width: 250px;
  font-size: 20px;
  padding: 8px 10px;
  font-weight: 600;
}
