.filterProducts 
{
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 20px 50px 10px 0px;
}

.filterSelector
{
  position: relative;
  display: flex;
  flex-direction: column;
}

.filterTitle, .filterName
{
  color: #7f7f7f;
  font-size: 1.1em;
  padding: 5px 10px;
}

.filterName
{
  width: 240px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin: 0px;
}

.angleDown 
{
  transform: rotate(0deg);
}

.angleUp
{
  transform: rotate(180deg);
}

.Oinactive
{
  color: #9f9f9f;
}

.Oactive 
{
  color: orange;
}

.order
{
  width: 40px;
  font-size: 1.5em; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #9f9f9f;
  position: absolute;
  right: 0;
}

.filterList 
{
  width: 240px;
  position: absolute;
  top: 45px;
  z-index: 50;
  padding: 10px 20px;
  background-color: #eeeeee;
  border-radius: 4px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: all 500ms;
}

.filterList li
{
  font-size: 1.1em;
  margin: 20px auto;
  color: #7f7f7f;
  cursor: pointer;
}

.filterList li:hover
{
  color: dodgerblue;
}

.showList 
{
  opacity: 1;
  height: auto;
  padding: 10px 20px;
}

.hideList
{
  opacity: 0;
  height: 0;
  padding: 0px 20px;
}

.applyFilter, .clearFilter
{
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: orange;
  color: white;
  width: 45%;
  border-radius: 4px;
}

.clearFilter
{
  margin-right: 5%;
  background-color: #c0c0c0;
}

.applyFilter 
{
  margin-left: 5%;
}

.fActive 
{
  display: inline;
  color: orange;
}

.fInactive
{
  display: none;
}

@media (max-width: 410px) {
  .filterProducts 
  {
    padding: 10px;
  }
}
