.loginBtn{
    color: black;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: none;
    margin: 0px 10px 0px 0px;
    padding: 0px 20px;
    border-radius: 4px;
}

.loginBtn:hover{
    background-color: #FFE3C2;
    transition: .5s;
}

