.loginBtn{
    margin-right: 20px;
    margin-top: 20px;
    height: 40px;
    width: auto;
    border-radius: 7px;
    background-color: #2EC4B6;
    color: rgb(70, 62, 62);
    cursor: pointer;
}

.loginBtn:hover{
    background-color: #1fb6a7;
}