* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    width: 100%;
    font-size: 14px;
    background-color: #FFA529;
    color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control input[type="text"],
.form-control input[type="password"],
button {
    width: 100%;
    padding: 10px 24px;
    background: #e6e6e6;
    color: #696969;
    border: none;
    outline: none;
    font-size: 0.9em;
}

.login-container {
    max-width: 320px;
    background-color: #fff;
    padding: 24px;
    padding-bottom: 12px;
    border-radius: 20px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25), 
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4px 0;
    margin-bottom: 20px;
}

.welcome-message {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 20px;
    color: #696969b0;
    line-height: 18px;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.form-control input {
    padding-left: 36px;
    letter-spacing: 0.5px;
    font-size: 1em;
}

.icons {
    position: absolute;
    margin-top: 14px;
    margin-left: 8px;
}

.forgot-password {
    position: absolute;
    right: 0px;
    top: 120%;
    font-size: 0.75em;
    cursor: pointer;
    font-style: italic;
}

button.submit {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 32px auto;
    cursor: pointer;
    color: #fff;
    background-color: #2EC4B6;
    background-size: 300% 100%;    
    transition: background-position 0.4s;
}

button.submit:hover {
    background-position: 100% 0;
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.social-login label {
    color: #696969b0;
    font-size: 0.9em;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login button {
    cursor: pointer;
    width: 45px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
    color: blue;
}

.additional-action {
    margin-top: -15px;
}

.error {
    color: red;
    margin-bottom: -17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}