.loginBtn{
    color: black;
    font-size: 1.2em;
    padding: 7px 13px;
    border-radius: 3px;
    cursor: pointer;
    background: none;
}

.loginBtn:hover{
    background-color: #FFE3C2;
    transition: .5s;
}
