.SlideGeneral
{
  width: 100%;
  height: 40vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerS 
{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  /*object-fit: cover;*/
  text-align: center;
  align-self: center;
}

.slideContainer
{
/* max-width: 1000px; */
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap; 
}

.slide
{
  min-width: 100%;
  overflow: hidden;
  transition: .3 ease all;
  z-index: 10;
  position: relative;
}

.slide img
{
  width: 100%;
  vertical-align: middle;
}

.controls
{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  background-image: linear-gradient(to right, #0000007f, transparent, #0000007f);
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 40vh;
  z-index: 20;
}

.btn, .btn2
{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 50px;
  background: none;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  display: block;
  transition: all 500ms;
}

.btn *, .btn2 *
{
  margin: 0px;
  padding: 0px;
  width: 50px;
  height: 40px;
  background-color: transparent;
  color: orange;
}

.btn2
{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn
{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn:hover, .btn2:hover
{
  background: rgba(255, 255, 255, 0.6);
}
