*
{
    text-decoration: none;
    list-style: none;
} 

.navBar
{
    display: flex;
    justify-content: space-between;
    background-color: #FF9F1C;
    background-image: linear-gradient(to left, #fdaa48, #f2ab15);
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 30;
}

.logoSmall 
{
  border: 1px solid red;
}

.logo img
{
    height:50px; 
    margin: 15px 5px;
}

.landscape
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchBar
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userActions 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.landscape .activeLink {
  color: black;
}

.menuIcon
{
  color: black;
  margin: auto 16px;
  cursor: pointer;
  padding: 0px;
  font-size: 1.8em;
}

.portrait
{
  display: none;
}

.mobileOptions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.mobileOptions .noLink {
  font-size: 1.8em;
  margin: auto 16px;
  cursor: pointer;
}

.popupSearchBar 
{
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding-top: 40px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.showSearch
{
  display: flex;
}
.hideSearch
{
  display: none;
}
.closeSearch 
{
  display: block;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.5);
  width: 150px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  margin: 40px;
  cursor: pointer;
}

@media (max-width: 858px){
  .landscape
  {
    display: none;
  }
  .portrait 
  {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 410px){
  .menuIcon
  {
    margin: auto 8px;
    font-size: 1.5em;
  }
}
