*{
    text-decoration: none;
    list-style: none;
} 

.navBar{
    display: flex;
    justify-content: space-between;
    background-color: #FF9F1C;
    height: 80px;
    width: 100%;
}

.logo img{
    width:30px;
    height:50px; 
    margin: 10px 0px 0px 40px;
}

/*
.navBar ul{
    float: right;
    margin-right: 20px
}

.navBar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navBar ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

.navBar a:hover{
    background-color: #FFE3C2;
    transition: .5s;
}
*/

.mobileOptions {
  flex-direction: row;
  align-items: center;
  display: none;
}

.loginOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobileOptions *  {
  font-size: 28px;
  margin: auto 16px;
  cursor: pointer;
}

.activeLink {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: baseline;
}
.activeLink * {
  font-size: 28px;
  color: black;
  margin: 0 16px;
}

/*
.checkbtn{
    font-size:30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
*/

@media (max-width: 858px){
    .navBar{
        /* it should be 'position: fixed' */ 
        /*position: absolute;*/
        z-index: 100;
    }
    .checkbtn{
        display: block;
        margin: 0 28px 0 8px;

    }
    .logo img{
        width:30px;
        height:50px; 
        margin: 10px 10px 0px 20px;
    }
    .loginOptions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: right;
      position: absolute;
      left: 200px;
      top: 80px;
      background-color: white;
      width: 100%;
      height: 80px;
      z-index: 99;
    }
    .visible {
      opacity: 1;
    }
    .hidden {
      opacity: 0;
    }
    .mobileOptions {
      display: flex;
    }
    /* Why?!
    .items-nav{
        position: absolute;
        width: 100%;
        height: 80vh;
        top:80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navBar ul li{
        display: block;
        margin:50px 0;
        line-height: 30px;
    }
    .navBar ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: white
    }
    #check:checked ~ ul{
        left: 0;
        background-color:gray;
    }
    */
}


