*{
    margin:0;
	padding:0;
}

.NavBar {
    background-color:  #FF9F1C;
    width: 100%;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.NavBar .leftSide {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.leftSide input{
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 2.5px;
    font-size: 19px;
    margin-left: 25px;
    color: black;
}

.leftSide button{
    height: 31px;
    width: 65px;
    font-size: 16px;
    color: black;
}

.leftSide button:hover{
   cursor: pointer;
}


.NavBar .rigthSide {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.NavBar .rigthSide .links{
    max-height: 80px;
}

.NavBar .rigthSide .links a{
    text-decoration: none;
    margin-right: 10%;
    height: 31px;
    width: 65px;
    font-size: 25px;
    color: black;
}

.NavBar .rigthSide button{
    display: none;
    
}

.NavBar .rigthSide #hidden{
    display: flex;  
}

@media(max-width: 600px) {
    .NavBar .rigthSide button{
        display: flex;
        height: 25px;
        width: 25px; 
    }

    .NavBar .rigthSide .links{
        /* flex: 50%; */
        display: none;
    }

    .NavBar .rigthSide #hidden{
        position: absolute; 
        right: 0px;
        top: 80px ;
        height: 230px;
        max-height: 200px;
        width: 100%;
        background-color: #FF9F1C;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .NavBar .rigthSide #hidden a{
       margin: 20px;
       height: 31px;
       width: 65px;
       font-size: 30px;
       color: black;
    }
}