@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.search {
    width: 22rem;
    margin: 0 auto 2rem auto;
    display: flex;
    position: relative
}

div {
    width: 100%
}

input {
    -webkit-appearance: none;
    font-size: initial;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3.5rem;
    width: 23.2rem;
    margin-left: -18px;
    border-radius: 2rem;
    outline: none;
    color: black;
    border: 2px solid  rgba(255, 159, 28, 100%);
    background-color: rgba(255, 227, 194, 100%);
    transition: all .2s;
    font-family: "Poppins", sans-serif
}

input:focus {
    border-color:#006eab
}

input::placeholder {
    font-size: 1rem;
    color: gray;
    opacity: 1;
}
input::-ms-input-placeholder {
    font-size: 1rem;
    color: black;
}
.search button {
    font-size: 12px;
    border: 0;
    text-align: center;
    border-radius: 0.25rem;
    position: absolute;
    top: 50%;
    right: -2rem;
    transform: translate(0, -50%);
    background: transparent;
    cursor: pointer;
}
@media (max-width: 425px) {
    .search {
        width: 100%;
    }
}