.container-search{
    margin-top: 20px;
}

.search-box {
    position: relative;
    width: 100%;
    margin: 0;
}
    
.search-form {
    height: 40px;
    border: 1px solid #F3F3F3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}
    
.search-text {
    font-size: 13px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}
    
.search-box input[type="text"]{
    width: 100%;
    padding: 12px 179px 10px 10px;
    color: #333;
    outline: none;
    border: none;
}
    
.search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color:#24262b;
    border-radius: 0px 5px 5px 0px; 
    padding: 0;
    cursor: pointer;
}

@media (max-width: 858px){
    .search-box input[type="text"] {
        font-size: 12px;
        padding: 12px 179px 13px 10px;
    }
}
