.search-box {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search-form {
	height: 40px;
	border-radius: 4px;
	background-color: white;
	overflow: hidden;
	box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
	top: 37px;
	width: 100%;
	border: 1px solid #aaaaaa75;
	background-color: #fff;
	color: black;
}

.search-text {
	font-size: 13px;
	color: #ddd;
	border-width: 0;
	background: transparent;
}

.search-box input[type="text"] {
	color: #333;
	background-color: transparent;
	margin-left: 10px;
	width: 340px;
	height: 36px;
	font-size: 1em;
	line-height: 36px;
	outline: none;
	border: none;
}

.search-box input[type="text"]::placeholder {
	color: #909090;
}

.search-button {
	height: 32px;
	width: 50px;
	font-size: 20px;
	line-height: 32px;
	color: orange;
	text-align: center;
	border-width: 0;
	margin: 4px;
	border-left: 1px solid #ddd;
	background-color: white;
	padding: 0;
	cursor: pointer;
}

@media (max-width: 858px) {
	.search-box input[type="text"] {
		font-size: 12px;
		padding: 12px 179px 13px 10px;
	}
}
